venv/
go/
data*/
*.log
*.db
key-guard/key-guard-bin
key-guard/key-guard
key-guard/kg-server
credential-authority/ca-bin
credential-authority/credential-authority
credential-authority/ca-server
__pycache__/
.idea/
.vscode/
.playwright-mcp/
